<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

<body style="background-color: black; text-align: center; ">
    <%- include("partials/nav.ejs") %>
    <h1 style="color: white; margin-top: 200px;">404 Not Found :(</h1>
    <%- include("partials/footer.ejs") %>
</body>
</html>