<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>
<body>
    <%- include("partials/nav.ejs") %>
    <div class="about content">
        <h2>About Me</h2>
        <p>Hello my name is Semih Berat Erdoğan. I am web backend and javascript developer. I am computer engineering student at Harran University. I am 19 years old. I am living in samsun. Welcome to my blog site. I am waiting suggestions and business offers</p>
        

    </div>
    <%- include("partials/footer.ejs") %>
</body>
</html>